@keyframes headerchange{
    0% {color: #540d6e;}
    25% {color:#e53e61;}
    50% {color: #b22446;}
    75% {color:#e53e61;}
    100% {color: #540d6e;}
    
}
/*
#540d6e purple
#e53e61 redish
#b22446 redder
#ffbe58 yellow
#c98020 yellowdark


*/

@keyframes findprice {
    0% {transform: scale(0.0);}
    10% {transform: scale(0.1);}
    20% {transform: scale(0.2);}
    30% {transform: scale(0.3);}
    50% {transform: scale(0.5);}
    70% {transform: scale(0.7);}
    90% {transform: scale(0.9);}
    100% {transform: scale(1.0);}
    


}

.oswald-font1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

html{
    font-family: "Oswald", sans-serif;
}

header{
    
    position: fixed;
    height: 70px;
    width: 560px;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    background-color: white;
    border-radius: 20pc;
    z-index: 2;
    animation-name: headerchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   

}


header h1{
    position: relative;
    left: 50px;
    bottom: 10px;;
    
}
#logoimg{
    position: fixed;
    top: 14px;
    left: 32px;

}

.dropdown{
    position: relative;
    display: inline-block;
    bottom: 75px;
    left: 490px;
}
.dropdownbutton{
    top: 24px;
    right: 45px;
    height: 40px;
    width: 40px;
    font-size: 23px;
    border:none;
    background-color: transparent;
    

}

.dropdowncontents{
display: none;
position: absolute;
height: 130px;
width: 200px;
z-index: 1;
border: 2px solid black;
background-color: white;
right: 0px;
top: 50px;


}

.dropdowncontents a{
    text-align: center;
    color: #540d6e;
    animation-name: headerchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.show {display:inline-block;}
.image-section{
    position: relative;
    top: 100px;
    height: 300px;
    width: 560px;
    z-index: -1;
}

#image2{
    height: 300px;
    width: 560px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px ;
    animation-name: headerchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.slogan1{
    animation-name: findprice;
    animation-duration: 0.5s;
    margin: auto;
    text-align: center
}
.checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 400px;
    
    border-radius: 20px;
    left: 80px;
    text-align: center;
    
    
}

.priceslink{
    margin: auto;
    padding: 35px;

}

.checkprices a {
    text-decoration: none;
    
    font-size: 24px;
    

}
.checkprices a:hover {
    color: blue;
}

.mainsectionfooter{
    text-align: center;
    position: relative;
    top: 150px;
}
.mainsectionfooter h4{
    font-size: 20px;
}
.mainsectionfooter p {
    font-size: large;
}
.section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
}

.shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    left: 70px;
    
}

.bottom{
    height: 200px;
}



@media screen and (max-width: 600px){
    header h1{
        transform: scale(0.7);
        text-align: center;
        margin-left: -130px;
    }

  

    .main-section{
        position: relative;
        top: 150px;
        height: 200px;
        width: 500px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 400px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 80px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    animation-name: headerchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
    
    }

    .checkprices a {
    text-decoration: none;
    color: #540d6e;
    font-size: 24px;
    animation-name: headerchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    

    }
    .checkprices a:hover {
        color: blue;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 200px;
        margin: auto;
    }
    .mainsectionfooter{
    text-align: center;
    position: relative;
    top: 150px;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }


    gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }

}






/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {    

    header{
    
    position: fixed;
    height: 80px;
    width: 680px;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    background-color: white;
    border-radius: 20pc;
    z-index: 2;
    animation-name: headerchange;
    animation-duration: 10s;
    left: 40px;
   

    }   

     header h1{
        transform: scale(0.9);
        text-align: center;
        margin-left: -130px;
    }

    #image2{
        width: 700px;
        height: 320px;
        position: relative;
        left: 20px;
    }
    
    #logoimg{
    position: fixed;
    top: 22px;
    left: 60px;
    }

    .dropdown{
        position: relative;
        display: inline-block;
        bottom: 70px;
        left: 590px;
    }
    .dropdownbutton{
        top: 24px;
        right: 45px;
        height: 40px;
        width: 40px;
        font-size: 23px;
        border:none;
        background-color: transparent;
        

    }

    .dropdowncontents{
    display: none;
    position: absolute;
    height: 130px;
    width: 200px;
    z-index: 1;
    border: 2px solid black;
    background-color: white;
    right: 0px;
    top: 50px;


    }

    .dropdowncontents a{
        text-align: center;
        color: #540d6e;
    }

    .show {display:inline-block;}

    .main-section{
        position: relative;
        top: 170px;
        height: 200px;
        width: 500px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
    }

    .checkprices{
    top: 150px;
    position: relative;
    height: 100px;
    width: 400px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 160px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    
    
    }

    .checkprices a {
    text-decoration: none;
    color: #540d6e;
    font-size: 24px;
    

    }
    .checkprices a:hover {
        color: blue;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 220px;
        margin: auto;
    }
    .mainsectionfooter{
    text-align: center;
    position: relative;
    top: 190px;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }


    gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }    


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     header h1{
        transform: scale(0.7);
        text-align: center;
        margin-left: -130px;
        
    }

  

    .main-section{
        position: relative;
        top: 150px;
        height: 200px;
        width: 500px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
    }

    .checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 400px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 80px;
    text-align: center;
    box-shadow: #540d6e;
    
    
    }

    .checkprices a {
    text-decoration: none;
    color: #540d6e;
    font-size: 24px;
    

    }
    .checkprices a:hover {
        color: blue;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 200px;
        margin: auto;
    }
    .mainsectionfooter{
    text-align: center;
    position: relative;
    top: 150px;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }


    gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

     header h1{
        transform: scale(0.7);
        text-align: center;
        margin-left: -130px;
        color: black;
    }

  

    .main-section{
        position: relative;
        top: 150px;
        height: 200px;
        width: 500px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
    }

    .checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 400px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 80px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    
    
    }

    .checkprices a {
    text-decoration: none;
    color: #540d6e;
    font-size: 24px;
    

    }
    .checkprices a:hover {
        color: blue;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 200px;
        margin: auto;
    }
    .mainsectionfooter{
    text-align: center;
    position: relative;
    top: 150px;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }


    gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
     header h1{
        transform: scale(0.7);
        text-align: center;
        margin-left: -130px;
    }

  

    .main-section{
        position: relative;
        top: 150px;
        height: 200px;
        width: 500px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
    }

    .checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 400px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 80px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    
    
    }

    .checkprices a {
    text-decoration: none;
    color: #540d6e;
    font-size: 24px;
    

    }
    .checkprices a:hover {
        color: blue;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 200px;
        margin: auto;
    }
    .mainsectionfooter{
    text-align: center;
    position: relative;
    top: 150px;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }


    gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }

}