html{
    width: auto;
    height: auto;
}

@keyframes headerchange{
    0% {color: #540d6e;}
    15% {color:#e53e61;}
    25% {color: #b22446;}
    40% {color: #3bb2e1;}
    55% {color: #25d4dc;}
    70% {color: #b22446;}
    80% {color:#e53e61;}
    100% {color: #540d6e;}
    
}
/*
#540d6e purple
#e53e61 redish
#b22446 redder
#ffbe58 yellow
#c98020 yellowdark
##3bb2e1 blue
##25d4dc light blue

mobile 362px


*/

@keyframes findprice {
    0% {transform: scale(0.0);}
    10% {transform: scale(0.1);}
    20% {transform: scale(0.2);}
    30% {transform: scale(0.3);}
    50% {transform: scale(0.5);}
    70% {transform: scale(0.7);}
    90% {transform: scale(0.9);}
    100% {transform: scale(1.0);}
    


}

.oswald-font1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

html{
    font-family: "Oswald", sans-serif;
}

header{
    
    position: fixed;
    height: 70px;
    width: 560px;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    background-color: white;
    border-radius: 20pc;
    z-index: 2;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
   

}


header h1{
    position: relative;
    left: 50px;
    bottom: 10px;;
    
}
#logoimg{
    position: fixed;
    top: 14px;
    left: 32px;

}

.dropdown{
    position: relative;
    display: inline-block;
    bottom: 75px;
    left: 490px;
}
.dropdownbutton{
    top: 24px;
    right: 45px;
    height: 40px;
    width: 40px;
    font-size: 23px;
    border:none;
    background-color: transparent;
    

}

.dropdowncontents{
display: none;
position: absolute;
height: 250px;
width: 200px;
z-index: 1;
border: 2px solid black;
background-color: white;
right: 0px;
top: 50px;


}

.dropdowncontents a{
    text-align: center;
    color: #540d6e;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.show {display:inline-block;}
.image-section{
    position: relative;
    top: 100px;
    height: 290px;
    width: 560px;
    z-index: -1;
}

#image2{
    height: 300px;
    width: 560px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px ;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.slogan1{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px ;
    
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
.slogan1 h2{
    
    font-size: large;
    border-radius: 20px;
    font-weight: 500;
    background-color: white;
    width: 400px;
    padding: 10px;


    color: black;
    
}
.checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 400px;
    
    border-radius: 20px;
    left: 80px;
    text-align: center;
    
    
}

.priceslink{
    margin: auto;
    padding: 35px;

}

.checkprices a {
    text-decoration: none;
    
    font-size: 24px;
    

}
.checkprices a:hover {
    color: #e53e61;
}

.mainsectionfooter{
    text-align: center;
    position: relative;
    top: 150px;
}
.mainsectionfooter h4{
    font-size: 20px;
}
.mainsectionfooter p {
    font-size: large;
}
.section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
}

.shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.diagramimg{
    height: 300px;
    width: 480px;
    

}

.diagramimagehelp{
    position: relative;
    top: 150px;
    height: 200px;
    width: 560px;
    z-index: -1;
}
.medicalequip{
    position: relative;
    top: 180px;
    height: 200px;
    width: 500px;
    animation-name: headerchange;
    animation-duration: 10s;
    margin: auto;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    left: 30px;

}

.medicalequip h3{
    position: relative;
    padding-top: 10px;
    color: black;
    font-size: 22px;
}
.medicalequip p{
    font-size: 18px;
}
.reviews{
    position: relative;
    top: 180px;
    height: 200px;
    width: 500px;
    animation-name: headerchange;
    animation-duration: 10s;
    margin: auto;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    left: 30px;

}

.reviews h3{
    position: relative;
    padding-top: 10px;
    color: black;
    font-size: 22px;
}
gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    
    position: relative;
    left: 70px;
    
}

.bottom{
    height: 200px;
}

@media screen and (max-width: 550px){
  
    header h1{
        transform: scale(0.65);
        text-align: center;
        margin-left: -90px;
        

    }
    header{
        width: 480px;
        margin: auto;
        left: 25px;
    }

  #logoimg{
    position: fixed;
    top: 14px;
    left: 50px;

    }
    .dropdown{
    position: relative;
    display: inline-block;
    bottom: 75px;
    left: 420px;
    }
    .dropdownbutton{
        top: 24px;
        right: 45px;
        height: 40px;
        width: 40px;
        font-size: 23px;
        border:none;
        background-color: transparent;
        

    }

    .dropdowncontents{
    display: none;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 1;
    border: 2px solid black;
    background-color: white;
    right: 0px;
    top: 50px;


    }

    .dropdowncontents a{
        text-align: center;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    .show {display:inline-block;}

    .image-section{
        position: relative;
        top: 100px;
        height: 290px;
        width: 490px;
        z-index: -1;
    }

    #image2{
        height: 290px;
        width: 480px;
        position: absolute;
        left: 17px;
        
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px ;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
    .slogan1{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px ;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: relative;
    left: 48px;
    

    }
    .slogan1 h2{
    
    font-size: large;
    border-radius: 20px;
    font-weight: 500;
    background-color: white;
    width: 400px;
    padding: 10px;


    color: black;
    
    }

    .main-section{
        position: relative;
        top: 150px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 20s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: black;
        border-radius: 20px;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 0px;
        padding: 10px;
        padding-bottom: 55px;
        
    }
    .main-section h3, h2{
        color: rgb(0, 0, 0);
        font-weight: 450;
    }

    .checkprices{
    top: 85px;
    position: relative;
    height: 100px;
    width: 350px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 90px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
    
    }

    .checkprices a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 500;
    bottom: 5px;
   
    

    }
    .checkprices a:hover {
        color: #e53e61;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 180px;
        margin: auto;
        left: 5px;
    }

    footer{
        text-align: center;
        position: relative;
    }
   
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    border-radius: 20px;
    }

    .photopharmacy{
        height: 300px;
        width: 500px;
        position: relative;
        top: 140px;
        margin: auto;
    }
    .photopharmacy img{
        height: 270px;
        width: 490px;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        text-align: center;
        animation-name: headerchange;
        animation-duration: 20s;

    }
    .shots h3, p {
        color: black;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    border-radius: 20px;
    }

    .medication h3, p {
    color: black;
    }

    .diagramimg{
    height: 400px;
    width: 480px;
    margin: auto;
    left: 10px;


    }

    .diagramimg img{
        height: 360px;
        width: 470px;
        text-align: center;
        margin: auto;
        position: absolute;
        bottom: 0px;
    }

    .diagramimagehelp{
        position: relative;
        top: 150px;
        height: 300px;
        width: 480px;
        z-index: -1;
        margin: auto;
        left: 10px;
    }

    .information-section{
        width: 480px;
        height: 200px;
        position: relative;
        top: 100px;
        margin: auto;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        padding: 20px;
        border-radius: 20px;
        left: 0px;

    }
    .information-section h2{
        text-align: center;
    }
    .info1 span{
        font-weight:700;
    }
    .medicalequip{
        position: relative;
        top: 120px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 0px;
        border-radius: 20px;

    }
    .reviews{
        position: relative;
        top: 150px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 20s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 0px;
        border-radius: 20px;

    }

     .mainsectionfooter{
    
    position: relative;
    top: 290px;
    left: 20px;
    
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    

    gmp-map{
    width: 400px;
    height: 300px;
    top: 390px;
    left: 50px;
    position: relative;
    }
    .bottom{
    height: 200px;
    text-align: center;
    }

    .bottom h3{
        position: relative;
        top: 420px;

    }

    #facebook{
        height: 50px;
        width: 50px;
        position: relative;
        top: 430px;
    }
    #instagram{
        height: 75px;
        width: 75px;
        position: relative;
        top: 443px;
    }

    .sectionlast{
        position: relative;
        top: 400px;
    }
    .sectionlast h3{
        color:transparent
    }
}


@media screen and (max-width: 362px){
    header h1{
        transform: scale(0.65);
        text-align: center;
        margin-left: -90px;

    }
    header{
        width: 490px;
        margin: auto;
        left: 25px;
    }

  #logoimg{
    position: fixed;
    top: 14px;
    left: 50px;

    }
    .dropdown{
    position: relative;
    display: inline-block;
    bottom: 75px;
    left: 420px;
    }
    .dropdownbutton{
        top: 24px;
        right: 45px;
        height: 40px;
        width: 40px;
        font-size: 23px;
        border:none;
        background-color: transparent;
        

    }

    .dropdowncontents{
    display: none;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 1;
    border: 2px solid black;
    background-color: white;
    right: 0px;
    top: 50px;


    }

    .dropdowncontents a{
        text-align: center;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    .show {display:inline-block;}

    .image-section{
        position: relative;
        top: 100px;
        height: 290px;
        width: 500px;
        z-index: -1;
    }

    #image2{
        height: 290px;
        width: 480px;
        position: absolute;
        left: 17px;
        
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px ;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
    .slogan1{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px ;
    margin: auto;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;

    }
    .slogan1 h2{
    margin: auto;
    font-size: large;
    border-radius: 20px;
    font-weight: 500;
    background-color: white;
    width: 400px;
    padding: 10px;


    color: black;
    
    }

    .main-section{
        position: relative;
        top: 150px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 20s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: black;
        border-radius: 20px;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 10px;
        padding: 10px;
        padding-bottom: 55px;
        
    }
    .main-section h3, h2{
        color: rgb(0, 0, 0);
        font-weight: 450;
    }

    .checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 350px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 90px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
    
    }

    .checkprices a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 500;
    bottom: 5px;
   
    

    }
    .checkprices a:hover {
        color: #e53e61;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 180px;
        margin: auto;
        left: 5px;
    }
    .mainsectionfooter{
    
    position: relative;
    top: 290px;
    margin: auto;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    border-radius: 20px;
    }

    .photopharmacy{
        height: 300px;
        width: 500px;
        position: relative;
        top: 140px;
        margin: auto;
    }
    .photopharmacy img{
        height: 290px;
        width: 510px;
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        text-align: center;
        animation-name: headerchange;
        animation-duration: 20s;

    }
    .shots h3, p {
        color: black;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    border-radius: 20px;
    }

    .medication h3, p {
    color: black;
    }

    .diagramimg{
    height: 400px;
    width: 480px;
    margin: auto;
    left: 10px;


    }

    .diagramimg img{
        height: 360px;
        width: 470px;
        text-align: center;
        margin: auto;
        position: absolute;
        bottom: 0px;
    }

    .diagramimagehelp{
        position: relative;
        top: 150px;
        height: 300px;
        width: 480px;
        z-index: -1;
        margin: auto;
        left: 10px;
    }

    .information-section{
        width: 475px;
        height: 200px;
        position: relative;
        top: 100px;
        margin: auto;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        padding: 20px;
        border-radius: 20px;

    }
    .information-section h2{
        text-align: center;
    }
    .info1 span{
        font-weight:700;
    }
    .medicalequip{
        position: relative;
        top: 120px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 5px;
        border-radius: 20px;

    }
    .reviews{
        position: relative;
        top: 150px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 20s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 5px;
        border-radius: 20px;

    }
    

    gmp-map{
    width: 400px;
    height: 300px;
    top: 390px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }

}






/*Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) {    

    header{
    
    position: fixed;
    height: 80px;
    width: 680px;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    background-color: white;
    border-radius: 20pc;
    z-index: 2;
    animation-name: headerchange;
    animation-duration: 10s;
    left: 40px;
   

    }   

     header h1{
        transform: scale(0.9);
        text-align: center;
        margin-left: -130px;
    }

    #image2{
        width: 700px;
        height: 320px;
        position: relative;
        left: 20px;
    }
    
    #logoimg{
    position: fixed;
    top: 22px;
    left: 60px;
    }

    .dropdown{
        position: relative;
        display: inline-block;
        bottom: 70px;
        left: 590px;
    }
    .dropdownbutton{
        top: 24px;
        right: 45px;
        height: 40px;
        width: 40px;
        font-size: 23px;
        border:none;
        background-color: transparent;
        

    }

    .dropdowncontents{
    display: none;
    position: absolute;
    height: 130px;
    width: 200px;
    z-index: 1;
    border: 2px solid black;
    background-color: white;
    right: 0px;
    top: 50px;


    }

    .dropdowncontents a{
        text-align: center;
        color: #540d6e;
    }

    .show {display:inline-block;}

    .main-section{
        position: relative;
        top: 170px;
        height: 200px;
        width: 500px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
    }

    .checkprices{
    top: 150px;
    position: relative;
    height: 100px;
    width: 400px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 160px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    
    
    }

    .checkprices a {
    text-decoration: none;
    color: #540d6e;
    font-size: 24px;
    

    }
    .checkprices a:hover {
        color: blue;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 220px;
        margin: auto;
    }
    .mainsectionfooter{
    text-align: center;
    position: relative;
    top: 190px;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }


    gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }    


}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header h1{
        transform: scale(1);
        text-align: center;
        margin-left: -90px;

    }
    header{
        transform: scale(1);
        
        margin: auto;
       
    }

  #logoimg{
    position: fixed;
    top: 14px;
    left: 50px;
    transform: scale(1.1);

    }
    .dropdown{
    position: relative;
    display: inline-block;
    bottom: 75px;
    left: 420px;
    }
    .dropdownbutton{
        position: relative;
        top: 3px;
        left: 155px;
        height: 40px;
        width: 40px;
        font-size: 23px;
        border:none;
        background-color: transparent;
        

    }

    .dropdowncontents{
    display: none;
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 1;
    border: 2px solid black;
    background-color: white;
    right: 0px;
    top: 50px;


    }

    .dropdowncontents a{
        text-align: center;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }

    .show {display:inline-block;}

    .image-section{
        position: relative;
        top: 100px;
        height: 290px;
        width: 500px;
        z-index: -1;
    }

    #image2{
        height: 390px;
        width: 680px;
        position: absolute;
        left: 31px;
        
        border-radius: 20px;
        box-shadow: 0px 8px 16px 0px ;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
    .slogan1{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px ;
    margin: auto;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transform: scale(1.4);
    position: relative;
    top: 50px;
    }
    .slogan1 h2{
    margin: auto;
    font-size: large;
    border-radius: 20px;
    font-weight: 500;
    background-color: white;
    width: 400px;
    padding: 10px;


    color: black;
    
    }

    .main-section{
        position: relative;
        top: 290px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 20s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: black;
        transform: scale(1.2);
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 10px;
        padding: 10px;
        padding-bottom: 55px;
        
    }
    .main-section h3, h2{
        color: rgb(0, 0, 0);
        font-weight: 450;
    }

    .checkprices{
    top: 210px;
    position: relative;
    height: 100px;
    width: 350px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 210px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    animation-name: headerchange;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transform: scale(1.3);
    
    
    }

    .checkprices a {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 24px;
    font-weight: 500;
    bottom: 5px;
   
    

    }
    .checkprices a:hover {
        color: #e53e61;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 480px;
        margin: auto;
        left: 5px;
        transform: scale(1.3);
    }
    .mainsectionfooter{
    transform: scale(1.3);
    position: relative;
    top: 690px;
    margin: auto;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;
    }

    .shots h3, p {
        color: black;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 20s;

    }

    .medication h3, p {
    color: black;
    }

    .diagramimg{
    height: 400px;
    width: 480px;
    margin: auto;
    left: 10px;


    }

    .diagramimg img{
        height: 360px;
        width: 470px;
        text-align: center;
        margin: auto;
        position: absolute;
        bottom: 0px;
    }

    .diagramimagehelp{
        position: relative;
        top: 370px;
        height: 300px;
        width: 480px;
        z-index: -1;
        margin: auto;
        left: 10px;
        transform: scale(1.3);
    }

    .information-section{
        width: 475px;
        height: 200px;
        position: relative;
        top: 350px;
        margin: auto;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        padding: 20px;
        transform: scale(1.2);

    }
    .information-section h2{
        text-align: center;
    }
    .info1 span{
        font-weight:700;
    }
    .medicalequip{
        position: relative;
        top: 460px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 5px;
        transform: scale(1.3);

    }
    .reviews{
        position: relative;
        top:530px;
        height: 200px;
        width: 480px;
        animation-name: headerchange;
        animation-duration: 20s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
        animation-name: headerchange;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        left: 5px;
        transform: scale(1.3);

    }
    

    gmp-map{
    width: 400px;
    height: 300px;
    top: 810px;
    margin: auto;
    position: relative;
    left: 180px;
    }
    .bottom{
    position: relative;
    top: 400px;
    height: 500px;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

     header h1{
        transform: scale(0.7);
        text-align: center;
        margin-left: -130px;
        color: black;
    }

  

    .main-section{
        position: relative;
        top: 150px;
        height: 200px;
        width: 500px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
    }

    .checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 400px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 80px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    
    
    }

    .checkprices a {
    text-decoration: none;
    color: #540d6e;
    font-size: 24px;
    

    }
    .checkprices a:hover {
        color: blue;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 200px;
        margin: auto;
    }
    .mainsectionfooter{
    text-align: center;
    position: relative;
    top: 150px;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }


    gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
     header h1{
        transform: scale(0.7);
        text-align: center;
        margin-left: -130px;
    }

  

    .main-section{
        position: relative;
        top: 150px;
        height: 200px;
        width: 500px;
        animation-name: headerchange;
        animation-duration: 10s;
        margin: auto;
        text-align: center;
        box-shadow: 0px 8px 16px 0px ;
        color: #540d6e;
    }

    .checkprices{
    top: 120px;
    position: relative;
    height: 100px;
    width: 400px;
    animation-name: headerchange;
    animation-duration: 10s;
    border-radius: 20px;
    left: 80px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    
    
    }

    .checkprices a {
    text-decoration: none;
    color: #540d6e;
    font-size: 24px;
    

    }
    .checkprices a:hover {
        color: blue;
    }

    .section-bottom1{
        position: relative;
        height: 300px;
        width: 500px;
        top: 200px;
        margin: auto;
    }
    .mainsectionfooter{
    text-align: center;
    position: relative;
    top: 150px;
    }
    .mainsectionfooter h4{
    font-size: 20px;
    }
    .mainsectionfooter p {
    font-size: large;
    }
    .section-bottom1{
    margin: auto;
    display: grid;
    grid-template-columns: 5% 50% 50% 15%;
    }

    .shots{
    height: 200px;
    width: 200px;
    grid-column: 2;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }

    .medication{
    height: 200px;
    width: 200px;
    grid-column: 3;
    box-shadow: 0px 8px 16px 0px ;
    color: #540d6e;
    text-align: center;
    animation-name: headerchange;
    animation-duration: 10s;
    }


    gmp-map{
    width: 400px;
    height: 300px;
    top: 200px;
    margin: auto;
    position: relative;
    }
    .bottom{
    height: 200px;
    }

}